html {
  height: 100%;
}

body {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#nameplate {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  padding-left: 40px;
  font-size: 24px;
  color: forestgreen;
  z-index: 2;
  vertical-align: middle;
  background-color: white;
  user-select: none;
}

#map {
  display: block;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: calc(100% - 40px);
  z-index: 0;
}

#panel {
  display: block;
  position: absolute;
  top: 40px;
  left: 0;
  width: 20%;
  min-width: 200px;
  height: calc(100% - 40px);
  background-color: gainsboro;
  opacity: 0.9;
  z-index: 1;
}

#title {
  display: block;
  position: relative;
  text-align: center;
  border-bottom: 2px solid ghostwhite;
  padding: 10px;
  margin: 18px;
  font-size: 32px;
  color: ghostwhite;
  font-family: 'Raleway', sans-serif;
  user-select: none;
}

#selected {
  display: block;
  position: relative;
  text-align: left;
  padding: 0 18px;
  font-size: 20px;
  color: gray;
  font-family: 'Raleway', sans-serif;
}

#coordinates {
  display: block;
  position: relative;
  text-align: left;
  padding: 0 18px;
  font-size: 20px;
  color: gray;
  font-family: 'Raleway', sans-serif;
  word-wrap: break-word;
}

#currentDay {
  display: block;
  position: relative;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 8px;
  color: forestgreen;
  user-select: none;
  font-size: 20px;
}

#timeline {
  display: block;
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: 0;
  margin: 0 auto 20px auto;
  background-color: white;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: calc(100% - 16px);
  height: 24px;
  background: gainsboro;
  margin: 0 8px 8px 8px;
  outline: none;
  border-radius: 12px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: forestgreen;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 50%;
}

.slider::-webkit-slider-thumb:hover {
  opacity: 1;
}

.slider::-moz-range-thumb:hover {
  opacity: 1;
}

#sliderLabels {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 8px 8px 8px;
  user-select: none;
}

.sliderLabel {
  display: inline-block;
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: grey;
}
